
<div style='border: medium dashed red'>
<h1>Nick n Euge's Cat Page</h1>
<h1>My name is <%= @name %></h1>
<img src='http://bit.ly/1eze8aE' width='640' height='492'>
<img src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg' width='640' height='492'>
<iframe src='https://gfycat.com/ifr/WarmheartedAnyFairyfly' frameborder='0' scrolling='no' width='640' height='492' allowfullscreen></iframe>
</div>
